<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h2 class="buffer-bottom"><%= I18n.t('edit.registration') %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= render partial: 'partials/form_errors', locals: {model: @user} %>

        <div class="form-group"><i class="fa fa-at"></i>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group"><i class="fa fa-key"></i>
          <%= f.label :password %> <i>(<%= I18n.t('edit.password') %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %><br />
            <em>минимум <%= @minimum_password_length %> символов</em>
          <% end %>
        </div>

        <div class="form-group"><i class="fa fa-repeat"></i>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="form-group"><i class="fa fa-key"></i>
          <%= f.label :current_password %> <i>(<%= I18n.t('edit.confirm') %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Изменить", class: 'btn btn-success' %>
         </div>
      <% end %>

      <h3 class="buffer-both"><%= I18n.t('edit.del_account') %></h3>

      <div class="form-group">
        <p><%= button_to "Удалить", registration_path(resource_name), class: "btn btn-danger", data: { confirm: I18n.t('edit.delete') }, method: :delete %></p>
      </div>

      <div class="form-group">
        <%= link_to "Вернуться", :back %>
      </div>

    </div>
  </div>
</div>
