<h1><%= t '.title' %></h1>
<p> <%= t '.author' %> : <%= @photo.user.name %></p>
<p> <%= link_to image_tag(@photo.photo.thumb.url), @photo.photo.thumb.url  %></p>

<p>
  To login to the site, just follow this link: <%= @url %>.
</p>


<hr/>

<%= t '.event' %>

<h3><%= @event.title %></h3>

<%= t '.author' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>